# prevent uploading temp files into GitHub
node_modules
npm-debug.log
.next
/build/.idea/

/.next/

/node_modules/

/logs/

/.dockerignore

/.eslintignore

/.eslintrc.js

/.eslintrc.json

/.npmrc

/.prettierignore

/analyze_structure.ps1

/app.log

/code_out.txt

/code_structure.txt

/collect_code.ps1
