.wrapper {
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1050px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
}

@media (max-width: 430px) {
    .wrapper {
        width: 90%;
        margin-top: 0;
    }
}