.playCardBody-left {
    border-radius: 35px;
    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
    background: #cc4444;
    height: 450px;
    width: 300px;
    margin: 30px;
}

.playCardBody-right {
    border-radius: 35px;
    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
    background: #222530;
    height: 450px;
    width: 300px;
    margin: 30px;
}

.playCard-label input {
    display: none; /* Versteckt das Eingabefeld der Checkbox */
}

.playCard-label input:checked + .playCardBody-right {
    border-color: white; /* Setzt die Randfarbe des rechten Containers, wenn die Checkbox ausgewählt ist */
    border: 10px; /* Setzt die Randbreite des rechten Containers, wenn die Checkbox ausgewählt ist */
    transform: scale(0.9); /* Wendet einen Skalierungseffekt auf den rechten Container an, wenn die Checkbox ausgewählt ist */
}

.playCard-label input:checked + .playCardBody-left {
    border-color: white; /* Setzt die Randfarbe des linken Containers, wenn die Checkbox ausgewählt ist */
    border: 10px; /* Setzt die Randbreite des linken Containers, wenn die Checkbox ausgewählt ist */
    transform: scale(0.9); /* Wendet einen Skalierungseffekt auf den linken Container an, wenn die Checkbox ausgewählt ist */
}

@media (max-height: 600px) {
    .playCardBody-left,
    .playCardBody-right {
        height: 225px; /* Setzt die Höhe der Container auf 225px, wenn die maximale Höhe des Viewports 600px oder weniger beträgt */
        width: 150px; /* Setzt die Breite der Container auf 150px, wenn die maximale Höhe des Viewports 600px oder weniger beträgt */
    }
}
