.playCardBody {
    border-radius: 8%;
    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
    width: 100%;
    aspect-ratio: 2 / 3;
    max-width: 230px;

}

.item {
    width: 22%; /* Adjusted width with padding */
    /* padding: 20px; */
    box-sizing: border-box;
}

.playCardBody-left {
    background: #cc4444 url('../../../public/CardRed.png') no-repeat center center;
    background-size: cover;
}

.playCardBody-right {
    background: #222530 url('../../../public/CardBlack.png') no-repeat center center;
    background-size: cover;
}

.playCardBody:hover,
.playCardBody-left:hover,
.playCardBody-right:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.playCard-label input {
    display: none;
}

.playCard-label input:checked + .playCardBody-right,
.playCard-label input:checked + .playCardBody-left {
    transform: scale(1.1);
    animation: none; /* Disable the shake animation when the checkbox is checked */
}




