.playCardBody {
    border-radius: 35px;
    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
    height: 345px;
    width: 230px;
    margin: 30px;
}

.playCardBody-left {
    background: #cc4444 url('../../../public/CardRed.png') no-repeat center center;
}

.playCardBody-right {
    background: #222530 url('../../../public/CardBlack.png') no-repeat center center;
}

.playCardBody:hover,
.playCardBody-left:hover,
.playCardBody-right:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.playCard-label input {
    display: none;
}

.playCard-label input:checked + .playCardBody-right,
.playCard-label input:checked + .playCardBody-left {
    transform: scale(1.1);
    animation: none; /* Disable the shake animation when the checkbox is checked */
}


/* For screens wider than 768px */
@media (min-width: 768px) {
    .playCardBody-left,
    .playCardBody-right {
        max-height: 450px;
        max-width: 300px;
    }
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
    .playCardBody-left,
    .playCardBody-right {
        max-height: 225px;
        max-width: 150px;
    }
}

/* For screens smaller than 404px */
@media (max-width: 403px) {
    .playCardBody-left,
    .playCardBody-right {
        max-height: 180px;
        max-width: 120px;
    }
}

